.colore{
    background-color: rgb(40, 40, 40);
}

/*div controlli sopra*/


.main-img{
   height: 25px;
   width: 25px;
   border-radius: 100%;
}

.btnLeftRight{
    height: 25px;
    width: 25px;
}
.ctrMain{
    height: 5%;
}
.miniP{
    font-size: 0.7rem;
}

/*brano in ascolto*/

#branoInAscolto{
    width: 98%;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.793);
    
}
.main-brano-h{
    font-size: 2.4rem;
}
.main-brano-p{
    font-size: 0.7rem;
}
.main-brano-cntImg{
    width: 18%;
    
}

.dimensione{
    height: 100%;
    aspect-ratio: 1/1;
    width: 10rem;
}
/* consigliati*/

.main-card-consigliati{

    height: 4rem;
    background-color: rgb(50, 50, 50);
    
}

.main-consigliati-div-card {

    height: 4rem;
    width: 10rem;
}
.main-consigliati-ctr-card{
    width: 5rem;
    height: 5rem;
}
.main-card-consigliati{
    flex: 0 0 calc(50% - 4px);
}

.main-card-consigliati img {
    
    max-height: 100%;
}

@media screen and (min-width: 768px){ 
    .main-card-consigliati {
         flex: 0 0 calc(33.33% - 5.33px);
        }
    
}
.font-card-consigliati{
    font-size: 0.7rem;
    color: white;
}


.sizeIcon{
   font-size: 1.5rem;
   
}


