.coloreMain{
    background-color: rgb(40, 40, 40);
}

/*brano in ascolto*/

#branoInAscolto{
    width: 98%;
    height: 28vh;
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 54%);
}

.main-brano-p{
    font-size: 0.7rem;
}
.main-brano-cntImg{
    width: 18%;
    
}

.dimensione{
    height: 100%;
    aspect-ratio: 1/1;
    width: 10rem;
}
/* consigliati*/

.main-card-consigliati{

    height: 4rem;
    background-color: rgb(50, 50, 50);
    flex: 0 0 calc(50% - 4px);
}


.main-card-consigliati img {
    
    max-height: 100%;
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.5);
}


@media screen and (min-width: 768px){ 
    .main-card-consigliati {
         flex: 0 0 calc(33.33% - 5.33px);
        }
    
}
.font-card-consigliati{
    font-size: 0.7rem;
    color: white;
}


.sizeIcon{
   font-size: 1.5rem;
   
}


